* {
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0;
    font-size: 14px;
}

img {
    width: 7rem;
    height: auto;
}

body {
    background-image: url(../assets/img/greenTableS.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: interstate;
    src: url(../assets/fonts/Interstate_mono_regular.ttf);
}

.font-interstate {
    font-family: interstate;
    font-size: 1.5rem;
}

/* ---------- BODY ---------- */

header {
        /* outline: 1px solid white; */
    display: flex;
    justify-content: center;
}

main {
        /* outline: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
        /* outline: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ---------- CONTENTS DETAILS ---------- */

.cards {
    padding: 0;
    margin: 0.7rem;
}

.cards-container {
    padding: 0;
    margin: 0;
}

.contents {
        /* outline: 1px solid white; */
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

/* ---------- JS+ ---------- */

/* .color1 {
    background-color: green;
} */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.home-link {
    text-align: center;
}
