* {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    font-size: 14px;
}

img {
    width: 30%;
    height: auto;
}

body {
    background-image: url(../assets/img/greenTableS.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* ---------- BODY ---------- */

header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
        outline: 1px solid white;
}

main {
        outline: 1px solid white;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
        outline: 1px solid white;
}

/* ---------- CONTENTS DETAILS ---------- */

.contents {
    padding: 1rem;
}

.start {
    display: flex;
    justify-content: center;
}