* {
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0;
    font-size: 14px;
}

img {
    width: 9rem;
    height: auto;
}

body {
    background-image: url(../assets/img/greenTableS.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ---------- BODY ---------- */

header {
        /* outline: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
        /* outline: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
        /* outline: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- CONTENTS DETAILS ---------- */

.contents {
        /* outline: 1px solid white; */
    padding: 0.5rem;
}

.start {
    display: flex;
    justify-content: center;
}