* {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    font-size: 14px;
}

body {
    background-color: #2A2C2E;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
}

.main-items {
    outline: 1px solid white;
    padding: 3rem;
}
